﻿@model IEnumerable<MakerShop.Models.Model>

@{
    ViewBag.Title = "Index";
}
<script src="scripts/simpleCart.js" type="text/javascript" charset="utf-8"></script>

<!--Make a new cart instance with your paypal login email-->
<script type="text/javascript">
    simpleCart = new cart("brett@wojodesign.com");
</script>



<h2>Index</h2>





<p>
    @Html.ActionLink("Create New", "Create")
  
</p>

<p>
    @Html.ActionLink("Home", "Index", "Home")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Size)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Download)
        </th>*@
        <th>

           Designer
            @*@Html.DisplayNameFor(model => model.User.UserName)*@
        </th>
        <th></th>
    </tr>
    @*<ul id="catalog">*@
        @foreach (var item in Model)
        {


            <tr>
                <td>
             
                    @*<img src="~/Content/robot.jpg" alt="" />*@

                 @{string productsPic = item.ModelName + ".jpg";}

                

                <img src="~/Content/@productsPic" alt="" />

                    <br />
                    

                <span class="price">@Html.DisplayFor(modelItem => item.ModelName)</span>

            


            </td>

               
                
           

            <td>
                @Html.DisplayFor(modelItem => item.User.UserName) 


            </td>
               
            <td>
        
           

                <a href="#" onclick="simpleCart.add('name= @Html.DisplayFor(modelItem => item.ModelName)', 'price=@item.Size', 'image=Content/@productsPic'); return false;"> add to cart</a>

            </td>
                <td></td><td></td><td></td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ModelID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ModelID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ModelID }) |
                @Html.ActionLink("Add an Image", "AddImage") |
                
            </td>
            </tr>
        }

</table>
