﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Cart & Products</title>


    <link rel="stylesheet" href="Content/example.css" type="text/css" media="screen" charset="utf-8" />

    <link rel="stylesheet" href="~/_include/css/main.css" type="text/css" media="screen" charset="utf-8" />


    <!--[if lte IE 6]><link rel="stylesheet" href="ie6.css" type="text/css" media="screen" charset="utf-8" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="ie7.css" type="text/css" media="screen" charset="utf-8" /><![endif]-->
    <!--Include the SimpleCart(js) script-->
    <script src="scripts/simpleCart.js" type="text/javascript" charset="utf-8"></script>

    <!--Make a new cart instance with your paypal login email-->
    <script type="text/javascript">
        simpleCart = new cart("brett@wojodesign.com");
    </script>

    <!--CSS for the Cart. Customize anything you damn well please.
        Use Firebug or Webkit's Element Inspector to get a more
        indepth idea of what simpleCart Generates.
    -->
    <style>
        .cartHeaders, .totalRow {
            display: none;
        }

        .simpleCart_items {
            overflow-y: auto;
            overflow-x: hidden;
            height: 324px;
            width: 243px;
            margin-bottom: 20px;
        }

        .itemContainer {
            clear: both;
            width: 229px;
            padding: 11px 0;
            font-size: 11px;
        }

        .itemImage {
            float: left;
            width: 60px;
        }

        .itemName {
            float: left;
            width: 85px;
        }

        .itemPrice {
            float: left;
            width: 85px;
            color: #418932;
        }

        .itemQuantity {
            float: left;
            width: 33px;
            margin-top: -12px;
            vertical-align: middle;
        }

            .itemQuantity input {
                width: 20px;
                border: 1px solid #ccc;
                padding: 3px 2px;
            }

        .itemTotal {
            float: left;
            color: #c23f26;
            margin-top: -6px;
        }
    </style>



</head>

<body>
    <div id="topFrame"><img src="images/greenLogo.gif" alt="Logo or something" style="vertical-align:middle;margin:-1px 20px 0 0" /> @*<a href="#">Docs</a> &nbsp;&nbsp;&nbsp;<a href="#">Download</a>*@</div>
    <div id="content">
        <div id="header">
            <h1>simple Cart</h1>
        </div>
        <br />
        @Html.ActionLink("Home", "Index", "Home")
       
        <!--Here's the Catalog Items. You can make anything into a product,
            just copy and paste the onclick attribute from one of the products
            below.
        -->

     

        <ul id="catalog">

            <h2>Other Items You Might Like</h2>


    
            <li>
                <img src="Content/SouthParkCrew2.jpg" alt="South Park Crew"  />
                <span class="price">$200</span><b>South Park Crew<br /><a href="#" onclick="simpleCart.add('name=South Park Crew', 'price=200', 'image=Content/SouthParkCrew2.jpg'); return false;"> add to cart</a></b>
                
            </li>

            <li>
                <img src="Content/CuteOcto.jpg" alt="Cute Octo Says Hello" />
                <span class="price">$12</span><b>Cute Octo<br /><a href="#" onclick="simpleCart.add('name=Cute Octo', 'price=12', 'image=Content/CuteOcto.jpg'); return false;"> add to cart</a></b>
            </li>

            <li>
                <img src="Content/braclet.jpg" alt="crazy braclet" />
                <span class="price">$15</span><b>Item 3<br /><a href="#" onclick="simpleCart.add('name=Item 3', 'price=15', 'image=Content/braclet.jpg'); return false;"> add to cart</a></b>
            </li>

            <li>
                <img src="Content/EiffelTower.jpg" alt="Eiffel Tower" />
                <span class="price">$20</span><b>Item 4<br /><a href="#" onclick="simpleCart.add('name=Item 4', 'price=20', 'image=Content/EiffelTower.jpg'); return false;"> add to cart</a></b>
            </li>

            <li>
                <img src="Content/vase.jpg" alt="Spiral Vase" />
                <span class="price">$30</span><b>Item 5<br /><a href="#" onclick="simpleCart.add('name=Item 5', 'price=30', 'image=Content/vase.jpg'); return false;"> add to cart</a></b>
            </li>

            <li>
                <img src="Content/yoda.jpg" alt="Yoda Head" />
                <span class="price">$10</span><b>Item 6<br /><a href="#" onclick="simpleCart.add('name=Item 6', 'price=10', 'image=Content/yoda.jpg'); return false;"> add to cart</a></b>
            </li>

            <li id="Ball">
                <img src="Content/BallinBall.jpg" alt="A ball in a ball" />
                <span class="price">$16</span><b>Item 7<br /><a href="#" onclick="simpleCart.add('name=Item 7', 'price=16', 'image=Content/BallinBall.jpg'); return false;"> add to cart</a></b>
                
            </li>

            <li>
                <img src="Content/top.jpg" alt="top" />
                <span class="price">$8</span><b>Item 8<br /><a href="#" onclick="simpleCart.add('name=Item 8', 'price=8', 'image=Content/top.jpg'); return false;"> add to cart</a></b>
            </li>

            <li>
                <img src="Content/gearMachine.jpg" alt="top" />
                <span class="price">$40</span><b>Item 8<br /><a href="#" onclick="simpleCart.add('name=Item 8', 'price=40', 'image=Content/gearMachine.jpg'); return false;"> add to cart</a></b>
            </li>

            <li>
                <img src="Content/robot.jpg" alt="top" />
                <span class="price">$35</span><b>Item 8<br /><a href="#" onclick="simpleCart.add('name=Item 8', 'price=35', 'image=Content/robot.jpg'); return false;"> add to cart</a></b>
            </li>

        </ul>

        <!--/ Catalog-->


        <div id="sidebar">



            <h2>Your Cart</h2>


            @*Add a Div with the class "simpleCart_items" to show your shopping cart area. *@
            <div class="simpleCart_items">

            </div>


            <!--Here's the Links to Checkout and Empty Cart-->

            <a href="#" class="simpleCart_empty"><button>empty cart</button></a>

            <a href="#" class="simpleCart_checkout"><button>Checkout</button></a>


            <!--Nothing below this has to do with simpleCart (js) functionality-->
            @*<div id="downloadContainer">
                    <h3>Download</h3>
                    <a href="#"><img src="images/smallLogo.gif" alt="Download simpleCart(js)" id="smallLogo" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">Version 1.0</a>&nbsp;&nbsp;<a href="#"><img src="images/arrow.gif" alt="Download simpleCart(js)"></a>
                </div>*@
            <!--End #sidebar-->
        </div>
        @*<div id="footer">
                Created by <a href="http://thewojogroup.com"><img src="images/wojo.gif" alt="The Wojo Group" /></a> <a href="http://thewojogroup.com">The Wojo Group</a> &nbsp;&nbsp;
                &bull;&nbsp;&nbsp;<img src="images/microLogo.gif" alt="simple cart js" style="vertical-align:bottom" /> is licensed under <a href="#">MIT License</a>
            </div>*@
        <!--End #content-->
    </div>
</body>
</html>
